 @media (max-width:992px) {
     .third_con {
         margin-top: 20px;
     }

     .contact_form {
         padding: 20px 150px;

     }
 }

 @media (max-width:768px) {
     .contact_form {
         padding: 20px 100px;
     }
 }

 @media (max-width:576px) {
     .contact_form {
         padding: 20px 80px;
     }
 }

 /*=======================*/
 
 
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

 *,
 body {
     margin: 0;
     padding: 0;
     list-style: none;
     box-sizing: border-box;
     font-family: 'Lato',
         sans-serif;
 }

 /* slider start  */
 .slider_section .slider_part {
     margin-top: 40px 0;
     padding: 50px 0px;
     background-image: url(img/slider_Image.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .slider_con_main {
     padding: 26px 0;
 }

 .slider_con {
     padding-top: 88px;

 }

 .slider_con h1 {
     padding: 0px;
     font-size: 80px;
     color: white;
 }

 .boder_button {
     border: .5px solid #15a3f9;
     max-width: 600px;
 }

 .slider_con p {
     padding: 20px;
     font-size: 20px;
     color: white;
 }

 .slider_btn {
     background-color: transparent;
     border: 1px solid #15a3f9;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 18px;
 }

 .slider_btn:hover {
     background: #15a3f9;
     border-radius: 5px;
 }

 .slider_icon i {
     padding-top: 130px;
     color: white;
     font-size: 20px;
 }

 /* Slider End */

 /* first_section start */

 .first_part {
     padding: 110px;
     background: #f5f9f9;

 }

 .first_con h3 {
     color: #2d3950;
     font-size: 40px;
     padding-bottom: 20px;
 }

 .first_con p {
     font-size: 20px;
     color: #999999;
 }

 /* first_section End */
 /* Second Part Start */

 .second_section {
     padding: 80px 0;
     background-color: #2d3950;
 }

 .second_con_main {
     padding: 150px 0px;
     background-color: #fff;
 }

 /*  */
 .second_part {
     margin: 80px;
     padding: 60px 0;
 }

 /*  */
 .secomd_con_main {
     position: relative;
 }

 .second_overlay i {
     height: 100px;
     width: 100px;
     background-image: linear-gradient(to right,
             #48baff 50%, #5fc2ff 50%);
     color: #fff;
     font-size: 35px;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     left: 50;

 }



 /*  */

 .second_con {
     margin-top: 95px;
     padding: 20px;
     /* background: #f1f1f1; */
     position: relative;
 }

 .second_con h5 {
     padding-top: 5px;
 }

 .second_con p {
     padding: 2px;
     color: #999999;
     line-height: 1.5rem;
 }

 /* Second Part End */
 /* Third Part Start */

 .third_part {
     padding: 70px 0;
     background: #f5f9f9;
 }

 .third_head_con h2 {
     font-size: 41px;
     padding: 10px 0;

 }



 /*  */
 .third_con {
     position: relative;
 }

 .third_overlay {
     height: 100%;
     width: 100%;
     background: #1999e8c4;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition: 2s;
 }

 .third_overlay i {
     height: 40px;
     width: 40px;
     background: #5bc5f3;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     margin: 0px 5px;

 }

 .third_con .third_overlay:hover {
     opacity: 1;
 }

 /*  */
 /* Third part End */
 /* Contact part Start */

 .contact_part {
     /* padding:70px 0; */
     background-image: url(img/Contact_BG_img.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .contact_overlay {
     padding: 80px 0;
     background: #2d394fe3;

 }

 .contact_text h2 {
     font-size: 50px;
     color: white;
 }

 .contact_text p {
     font-size: 16px;
     color: #999999;
 }

 /*  */
 .contact_form {
     padding: 20px 280px;
     /* background: #15a3f9; */
 }

 .form-control {
     background: transparent;
     border: 1px solid #999999;

 }

 .form-check-label {
     color: #fff;
 }

 .btn {
     border: 2px solid #15a3f9;
     color: #fff;
     font-size: 20px;
     width: 150px;
 }

 .btn:hover {
     color: #fff;
     box-shadow: 0px 3px 5px #fff;
 }

 /*  */
 /* Contact Part End */

 .footer_con {
     padding: 10px 0;
 }

 .footer_text {
     padding-top: 10px;
     justify-content: center;
     align-items: center;
     color: #999999;
 }

 .footer_icon {
     font-size: 25px;
     color: #15a3f9;
 }











